body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.content-wrapper {
    max-width: 600px;
    margin: 0px auto;
}

.option-wrapper {
    display: flex;
}


.link-wrapper {
    display: grid;
    align-items: center;
}

.link-wrapper a, .link-wrapper a:visited {
    color: #6dade0;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu #select-language {
    border: none;
}

.menu #select-language:focus {
    outline: none;
}

.menu button {
    display: block;
    margin: 10px;
    border: none;
    background-color: #f44336;
    color: white;
    padding: 5px;
    text-align: center;
    min-width: 70px;
    cursor: pointer;
}

.menu .active-option-button {
    background-color: #4CAF50;
}

.animal-image-wrapper {
    margin-top: 30px;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-bottom: 30px;
}

.image-wrapper img {
    width: 220px;
    padding-top: 10px;
}

.animal-text {
    font-size: 3rem;
}

.keyboard-row {
    display: flex;
    justify-content: stretch;
}

.letter-square {
    align-items: center;
    background-color: #dce1ed;
    color: #414a5e;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex: 1 1;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    margin: 3px;
    min-width: 45px;
    min-height: 45px;
    padding: 3px;
}

.letter-square:not(.js-animal-name-placeholder-letter):hover {
    background: #c4cbdd;
}

.animal-name-placeholder {
    display: grid;
    grid-template-columns: repeat(20, auto);
    align-content: center;
    justify-content: center;
    margin-bottom: 60px;
}

.animal-name-placeholder .letter-square {
    margin: 5px;
}

.waviy {
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));

}

.hide-with-opacity {
    opacity: 0;
}

.correct-bgr {
    background-color: #01FF70;
}

.error-bgr {
    background-color: #FF4136;
}

/* Media queries */

@media screen and (max-width: 600px) {
    .letter-square {
       min-width: 30px;
       min-height: 35px;
    }

    .animal-text {
        font-size: 2rem;
    }

    .animal-name-placeholder {
        margin-bottom: 20px;
    }

    .animal-image-wrapper {
        margin-top: 15px;
    }
}


@media screen and (max-width: 450px) {
    .letter-square:not(.js-animal-name-placeholder-letter) {
       min-width: 20px;
       min-height: 25px;
    }

    .letter-square {
         margin: 3px; 
         padding: 0px;
    }

}

@media screen and (max-width: 450px) and (max-height: 550px) {
    .image-wrapper img {
        width: 130px;
    }

    .animal-name-placeholder {
        margin-bottom: 20px;
    }

}



@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}