.content-wrapper {
    max-width: 600px;
    margin: 0px auto;
}

.link-wrapper a, .link-wrapper a:visited {
    color: #6dade0;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.menu .lang-btn {
    background: #2196F3;
    color: white;
    border-radius: 3px;
    text-align: center;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}

.menu .lang-btn.active-lang-btn {
    background: #04AA6D;
    cursor: default;
}

.menu .lang-btn:not(.active-lang-btn):hover {
    background: #7CB9E8;
}

.menu button:nth-child(2){
    margin: 0px 10px;
}

.animal-image-wrapper {
    margin-top: 10px;
    margin-bottom: 20px;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 15px;
}

.image-wrapper img {
    width: 220px;
}

.animal-text {
    font-size: 3rem;
}

.keyboard-row {
    display: flex;
    justify-content: stretch;
}

.letter-square {
    align-items: center;
    background-color: #dce1ed;
    color: #414a5e;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex: 1 1;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    margin: 3px;
    min-width: 45px;
    min-height: 45px;
    padding: 3px;
}

.letter-square:not(.js-animal-name-placeholder-letter):hover {
    background: #c4cbdd;
}

.animal-name-placeholder {
    display: grid;
    grid-template-columns: repeat(20, auto);
    align-content: center;
    justify-content: center;
}

.animal-name-placeholder .letter-square {
    margin: 5px;
}

.waviy {
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));

}

.hide-with-opacity {
    opacity: 0;
}

.correct-bgr {
    background-color: #01FF70;
}

.error-bgr {
    background-color: #FF4136;
}

/* Media queries */

@media screen and (max-width: 600px) {
    .letter-square {
       min-width: 30px;
       min-height: 35px;
    }

    .animal-text {
        font-size: 2rem;
    }
}


@media screen and (max-width: 450px) {
    .letter-square:not(.js-animal-name-placeholder-letter) {
       min-width: 20px;
       min-height: 25px;
    }

    .letter-square {
         margin: 3px; 
         padding: 0px;
    }

}

@media screen and (max-width: 450px) and (max-height: 550px) {
    .image-wrapper img {
        width: 130px;
    }
}



@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
  